ion-item {
  font-size: 1rem;
}
ion-label {
  &::ng-deep .arabic {
    font-family: Lateef, Nastaliq, cursive !important;
    font-size: 1.75rem;
  }
  text-align: justify;
  text-align-last: justify;
  overflow: visible !important;
  word-wrap: break-word !important;
}
