<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: 1.5rem;" class="ion-padding"
      >{{ (section$ | async)?.sectionName }}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let kalam of (section$ | async)?.kalams; let i = index;"
      [routerLink]="['/kalam', kalam.id ]"
      class="ion-text-wrap"
    >
      <ion-text>
        {{ i + 1 }}
      </ion-text>
      <ion-label
        class="ion-padding-start"
        style="font-size: 1.25rem;"
        [innerHTML]="kalam.name | arabic"
      ></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
