<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title
      [innerHTML]="(kalam$ | async)?.name | arabic"
      class="ion-padding"
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let item of (kalam$ | async)?.ashaar"
      style="font-size: 1.25rem;"
    >
      <ion-label
        class="ion-padding-start"
        [innerHTML]="item | arabic"
      ></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
