<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title
      [innerHTML]="(kalam$ | async)?.name | arabic"
      class="ion-padding"
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row
      *ngFor="let item of (kalam$ | async)?.ashaar; let even = even; let odd = odd; let i = index"
    >
      <ion-col
        *ngIf="even"
        sizeMd="10"
        sizeLg="8"
        [attr.data-number]="i % 6 === 0 ? getNumber(i) : ''"
      >
        <ion-item lines="none">
          <ion-label
            [innerHTML]="item | arabic"
            [ngClass]="{'has-arabic': item.includes('arabic')}"
            class="ion-padding-horizontal"
          ></ion-label>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="odd" pushLg="4" pushMd="2" sizeLg="8" sizeMd="10">
        <ion-item lines="none">
          <ion-label
            [innerHTML]="item | arabic"
            [ngClass]="{'has-arabic': item.includes('arabic')}"
            class="ion-padding-horizontal"
          ></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
