ion-label ::ng-deep .arabic {
  font-family: Lateef, Nastaliq, cursive !important;
  font-size: 2rem;
}

ion-title ::ng-deep .arabic {
  font-family: Lateef, Nastaliq, cursive !important;
  font-size: 2.5rem;
}
