ion-item {
  font-size: 1rem;
}
ion-label {
  & ::ng-deep .arabic {
    font-family: Lateef, Nastaliq, cursive !important;
    font-size: 1.75rem;
  }
  text-align: justify;
  text-align-last: justify;
  overflow: visible !important;
  word-wrap: break-word !important;
}

ion-title ::ng-deep .arabic {
  font-family: Lateef, Nastaliq, cursive !important;
  font-size: 2rem;
}

ion-col::before {
  content: attr(data-number);
  display: flex;
  justify-content: center;
}

.transition {
  transition: all ease-in 200ms;
}

.slide-down {
  opacity: 0;
  transform: translateY(100px);
}

.slide-up {
  opacity: 0;
  transform: translateY(-100px);
}
